{% extends 'base.html' %}

{% block content %}
<div class="modal " id="betModal" tabindex="-1" role="dialog" aria-labelledby="betModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="betModalLabel">Bet Proposal</h5>
        </div>
        <div class="modal-body">
          <form id="bet" method="post" novalidate>
            <div class="input-group">
              <label class="col-sm-2 control-label">Players</label>
              <div class="col-sm-10">
              <select multiple data-style="btn btn-link dropdown-toggle" id="playersDrop" class="selectpicker w-100">
                  <option>United Kingdom</option>
                  <option>United States</option>
                  <option>France</option>
                  <option>Germany</option>
                  <option>Italy</option>
              </select>
            </div>
              <br>
              <label class="col-sm-2 control-label">Amount</label>
              <div class="col-sm-6">
                <select data-style="btn btn-link dropdown-toggle" id="amountDrop" class="selectpicker w-100">
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                  <option>25</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="left-side">
            <button type="submit" formaction="{{ url_for('blog.create') }}" form="create" class="btn btn-success btn-link">Save</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" data-dismiss="modal" class="btn btn-danger btn-link">Nevermind</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--   <div class="card bg-dark text-white">
      <img class="card-img" src="\static\images\federico-beccari.jpg" alt="Card image">
      <div class="card-img-overlay">
        <h4 class="card-title text-white">Card title</h4>
        <p class="card-text text-white">Last updated 3 mins ago</p>
      </div>
    </div> -->

<!-- 
<div class="page-header" data-parallax="true" style="background-image: url(/static/assets/img/daniel-olahh.jpg); transform: translate3d(0px, 0px, 0px);">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Example page</h1>
      <h3>Start designing your landing page here.</h3>
      <br>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
      <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
    </div>
  </div>
</div>
 -->
<!-- 
  <div class="alert alert-success" role="alert">
    This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-danger" role="alert">
    This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
-->


<!--
<button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
<button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>
-->

      <!-- 2 columns card
      <div class="card" style="width: 30rem; margin-left: 10px;">
          <div class="card-header">
              <h3>Tags</h3>
          </div>
          <div class="card-block">
              <div class="row">
                  <div class="col-lg-6 tags p-b-2">
                      <span class="badge badge-primary">Primary</span>
                      <span class="badge badge-info">Info</span>
                      <span class="badge badge-success">Success</span>
                      <span class="badge badge-danger">Danger</span>
                      <span class="badge badge-warning">Warning</span>
                  </div>
                  <div class="col-lg-4 offset-lg-1">
                      <div class="row">
                          <div class="col-md-7 text-xs-center bg-success p-y-1">
                            <h4>Tags</h4>
                          </div>
                              <p class="card-body">45</p>
                      </div>
                      <div class="row">
                          <div class="col-md-7 text-xs-center bg-primary p-y-1">
                              <h4>Users</h4>
                          </div>
                          <p class="card-body">2</p>

                      </div>
                  </div>
              </div>
          </div>

      </div> -->
      <!-- /2 columns card -->

<!-- <div class="card text-center">
    <div class="card-header card-header-rose">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
 <!-- <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>-->

<!--
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="\static\assets\img\daniel-olahh.jpg" alt="First slide">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="\static\assets\img\examples\landing-page.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="\static\assets\img\uriel-soberanes.jpg" alt="Second slide">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="\static\assets\img\examples\landing-page.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="\static\assets\img\soroush-karimi.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>-->

<div id="sliderRegular" class="slider" onmouseup="initSliders()"></div>
<br>
<div id="sliderDouble" class="slider slider-primary"></div>
{% endblock %}