{% extends 'base.html' %}
{% block content %}
<form method="post" novalidate>
    <div class="form-group-first">
        <label for="titleInput">Title</label>
        <input name="title" type="text" class ="form-control" id="titleInput" />
    </div>
    <div class="form-group">
        <label for="postBody">Body</label>
        <textarea name="body" class="form-control" id="postBody" rows="3"></textarea>
    </div>
    <button style="margin-left: 10px;" type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}