{% extends 'base.html' %}
{% block content %}
<div class="card no-transition">
    <div class="card-header">
        <form id="weekForm" method="post" novalidate>
            <label for="weekSelect">Week</label>
            <div class="col-sm-1" id="form-col" style="display: inline-block">
                <select class="custom-select" name="week" id="weekSelect" onchange="resetSelect(this.id,this.value,{{current_week}})">
                    {% if week != None %}
                    <option>{{week}}</option>
                    {% endif %}
                    {% for w in weeks %}
                    <option>{{w}}</option>
                    {% endfor %}
                    <option>Current</option>
                </select>
            </div>
        </form>
    </div>
<div>
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card no-transition">
        {% for matchup in matchups %}
        <div class="card-header card-collapse" role="tab" id="headingOne">
            <a class="collapsed" onclick="collapse()" data-toggle="collapse" data-parent="#accordion" href="#{{matchup[0]['nickname']}}" aria-expanded="false" aria-controls="{{matchup[0]['nickname']}}">    
                <h5 class="mb-0 panel-title">
                    <div class="row">
                        <div class="col">
                            <div style="float: left;" >
                                <div class="side">
                                    <img src="{{ matchup[0]['image'] }}" id="round" />
                                </div>
                                <div class="side">
                                    <div class="matchup-name">{{ matchup[0]['name'] }}</div>
                                </div>
                                <div class="side">
                                    <div class="matchup-name"> | </div>
                                </div>
                                <div class="side">
                                    <div class="matchup-actual">{{ matchup[0]['team_points'] }}</div>
                                </div>
                                <div class="side">
                                    <div class="matchup-name"> | </div>
                                </div>
                                <div class="side">
                                    <div class="matchup-projected">{{ matchup[0]['team_projected_points'] }} </div>
                                </div>
                                <div class="side">
                                    <div class="matchup-name"> | </div>
                                </div>
                                <div class="side">
                                    <div class="matchup-remaining">9 players remaining</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div style="float: right;" >
                                <div class="side">
                                    <div class="matchup-remaining">9 players remaining</div>
                                </div>
                                <div class="side">
                                    <div class="matchup-name"> | </div>
                                </div>
                                <div class="side">
                                    <div class="matchup-projected">{{ matchup[1]['team_projected_points'] }} </div>
                                </div>
                                <div class="side">
                                    <div class="matchup-name"> | </div>
                                </div>
                                <div class="side">
                                    <div class="matchup-actual">{{ matchup[1]['team_points'] }}</div>
                                </div>
                                <div class="side">
                                    <div class="matchup-name"> | </div>
                                </div>
                                <div class="side">
                                    <div class="matchup-name">{{ matchup[1]['name'] }}</div>
                                </div>
                                <div class="side">
                                    <img src="{{ matchup[1]['image'] }}" id="round" />
                                </div>
                            </div>
                        </div>
                    </div>
                </h5>
                <div class="progress">
                    <div class="progress-bar {{matchup[0]['class']}}" id="{{matchup[0]['nickname']}}progress" role="progressbar" style="width: {{matchup[0]['percent_chance']}}; opacity: {{matchup[0]['opacity']}}">{{matchup[0]['percent_chance']}} chance</div>
                    <div class="progress-bar {{matchup[1]['class']}}" id="{{matchup[1]['nickname']}}progress" role="progressbar" style="width: {{matchup[1]['percent_chance']}}; opacity: {{matchup[1]['opacity']}}">{{matchup[1]['percent_chance']}} chance</div>
                </div>
            </a>
        </div>
        {% if matchup[0]['nickname'] == g.user['nickname'] or matchup[1]['nickname'] == g.user['nickname'] %}
        <div id="{{matchup[0]['nickname']}}" class="collapse show" role="tabpanel"  aria-labelledby="headingOne" style="width: 100%">
        {% else %}
        <div id="{{matchup[0]['nickname']}}" class="collapse" role="tabpanel"  aria-labelledby="headingOne" style="width: 100%">
        {% endif %}
        <div style="margin-left:15px; margin-right: 15px; margin-top:5px;">
            <div class="card no-transition">
                <div class="row" style="width: 100%; margin-left: 2px;">
                    <table class="table table-hover">
                        <thead class="thead-primary">
                            <tr>
                                <th scope="col" class="td-head-custom">Stats</th>
                                <th scope="col" class="td-head-custom">Player</th>
                                <th scope="col" class="td-head-custom">Projected</th>
                                <th scope="col" class="td-head-custom">Points</th>
                                <th scope="col" class="td-head-custom">(+/-)</th>
                                <th scope="col" class="td-head-custom"></th>
                                <th scope="col" class="td-head-custom">(+/-)</th>
                                <th scope="col" class="td-head-custom">Points</th>
                                <th scope="col" class="td-head-custom">Projected</th>
                                <th scope="col" class="td-head-custom">Player</th>
                                <th scope="col" class="td-head-custom">Stats</th>
                            </tr>
                        </thead>
                        <tr class="trow-custom">
                            <td class="td-custom">196 Pass YDs, 2 Pass TD</td>
                            <td class="td-custom">Andrew Luck</td>
                            <td class="td-custom">18.26</td>
                            <td class="td-custom">12.10</td>
                            <td class="td-custom">+1.2</td>
                            <td class="td-custom">QB</td>
                            <td class="td-custom">-1.2</td>
                            <td class="td-custom">23.56</td>
                            <td class="td-custom">20.06</td>
                            <td class="td-custom">Baker Mayfield</td>
                            <td class="td-custom">225 Pass Yds, 1 Pass TD, 42 Rush Yds</td>
                        </tr>
                        <tr class="trow-custom">
                            <td class="td-custom">4 Rec, 92 YDs</td>
                            <td class="td-custom">Julio Jones</td>
                            <td class="td-custom">19.88</td>
                            <td class="td-custom">13.20</td>
                            <td class="td-custom">+1.2</td>
                            <td class="td-custom">WR</td>
                            <td class="td-custom">-1.2</td>
                            <td class="td-custom">21.36</td>
                            <td class="td-custom">4.60</td>
                            <td class="td-custom">Antonio Brown</td>
                            <td class="td-custom">1 Rec, 36 Yds</td>
                        </tr>
                    </table>          
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}