{% extends 'base.html' %}
{% block content %}

<div>
    <table class="table table-hover table-borderless">
        <thead class="thead-primary">
            <tr>
                <th></th>
                <th scope="col">Rank</th>
                <th scope="col">Record</th>
                <th scope="col">Win Percentage</th>
                <th scope="col">Points For</th>
                <th scope="col">Points Against</th>
            </tr>
        </thead>
        {% for team in standings %}
        <tr>
            <td>
                <a class="standings-link" href="{{ url_for('league.teams', id=team['team_id']) }}">
                    <img src="{{ team['image'] }}" id="round" /> {{team['name']}}
                </a>
            </td>
            <td scope="row"><strong>{{team['rank']}}</strong></td>
            <td>{{team['wins']}}-{{team['losses']}}-{{team['ties']}}</td>
            <td>{{team['percentage']}}</td>
            <td>{{team['points_for']}}</td>
            <td>{{team['points_against']}}</td>
        </tr>
        {% endfor %}
    </table>    
</div>

{% endblock %}