{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="card no-transition">
    <div class="card-header" >
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="teams-title" style="text-align: center">{{ team['name'] }}</div>
                    <div class="teams-name" style="text-align: center">{{team['nickname']}}</div>
                    <div style="text-align: center">
                        <img src="{{team['image']}}" id="round-lg"/>
                    </div>
                </div>
                <div style="text-align: center">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tradeModal">Trade</button>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal">Add</button>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal">Drop</button>
                    <button class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div style="padding-top:25px;"></div>
                <div class="card">
                    <div class="teams-name">Standings</div>
                    <div class="teams-container">
                        <div class="side">
                            <div class="teams-detail">Record: {{team['wins']}}-{{team['losses']}}-{{team['ties']}} |</div>
                        </div>
                        <div class="side">
                            <div class="teams-detail">Rank: {{team['rank']}}/10 |</div>
                        </div>
                        <div class="side">
                            <div class="teams-detail">Streak: W2</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="teams-name">Scoring</div>
                    <div class="teams-container">
                        <div class="side">
                            <div class="teams-detail" style="text-align: center">Points: {{team['points_for']}} |</div>
                        </div>
                        <div class="side">
                            <div class="teams-detail" style="text-align: center">Against: {{team['points_against']}} |</div>
                        </div>
                        <div class="side">
                            <div class="teams-detail" style="text-align: center">Average: {{team['points_week']}}</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="teams-name">Transactions</div>
                    <div class="teams-container">
                        <div class="side">
                            <div class="teams-detail" style="text-align: center">Moves: {{team['number_of_moves']}} |</div>
                        </div>
                        <div class="side">
                            <div class="teams-detail" style="text-align: center">Trades: {{team['number_of_trades']}} |</div>
                        </div>
                        <div class="side">
                            <div class="teams-detail" style="text-align: center">Waiver Priority: {{team['waiver_priority']}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div style="padding-top:33px;"></div>
                <div class="card">
                    <div class="teams-name">Matchup</div>
                    <!--<h4 class="card-title" style="text-align: center">Matchup</h4>-->
                    <div class="card-body">
                        <div class="col">
                            <div class="side" style="vertical-align: middle">
                                    <div class="teams-other">{{team['self_matchup']['team_points']}}</div>
                                    <div class="teams-detail">{{team['self_matchup']['team_projected_points']}}</div>    
                            </div>
                            <div class="side" style="vertical-align: middle">
                                <img src="{{team['image']}}" id="round" />
                            </div>
                            <div class="side" style="vertical-align: middle">
                                <div class="teams-detail">{{team['self_matchup']['percent_chance']}}</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="side" style="vertical-align: middle">
                                <div class="teams-other">{{team['opponent_matchup']['team_points']}}</div>
                                <div class="teams-detail">{{team['opponent_matchup']['team_projected_points']}}</div>
                            </div>
                            <div class="side" style="vertical-align: middle">
                                <a href="{{url_for('league.teams',id=team['opponent_matchup']['team_id'])}}">
                                    <img src="{{team['opponent_matchup']['image']}}" id="round"/>
                                </a>
                            </div>
                            <div class="side" style="vertical-align: middle">
                                <div class="teams-detail">{{team['opponent_matchup']['percent_chance']}}</div>
                            </div>
                        </div>
                        <div class="teams-detail">{{team['opponent_matchup']['name']}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="tradeModal" tabindex="-1" role="dialog" aria-labelledby="tradeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tradeModalLabel">Propose Trade</h5>
        </div>
        <div class="modal-body">
          <form id="create" method="post" novalidate>
            <div class="form-select-row">
                <select class="selectpicker w-100" data-style="btn-link" data-live-search="true" aria-expanded="false" title="Select Team">
                    {% for k, v in g.teams.items() %}
                    {% if v['name'] != team['name'] %}
                    <option>{{v['name']}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-select-row">
                <select class="selectpicker w-100" data-style="btn-link" multiple data-live-search="true" aria-expanded="false" title="Select Players">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="divider"></div>
            <div class="form-select-row">
                    <select class="selectpicker w-100" data-style="btn-link" multiple data-live-search="true" aria-expanded="false" title="Select Players">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </select>
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="left-side">
            <button type="submit" formaction="{{ url_for('blog.create') }}" form="create" class="btn btn-success btn-link">Propose</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" data-dismiss="modal" class="btn btn-danger btn-link">Nevermind</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card" id="cardTable">
    <div id="tabs">
        <ul style="list-style-type:none;"><li><a href="#current"><span></span></a></li></ul>
        <div id="rosterTable">
            <table class="table table-hover sortable">
                <thead class="thead-primary">
                    <tr>
                        <td scope="col" class="td-head-custom"></td>
                        <td scope="col" class="td-head-custom">Position</td>
                        <td scope="col" class="td-head-custom">Name</td>
                        <td scope="col" class="td-head-custom">Rush Yds</td>
                        <td scope="col" class="td-head-custom">Rush Att</td>
                        <td scope="col" class="td-head-custom">Rush TD</td>
                        <td scope="col" class="td-head-custom">Rec</td>
                        <td scope="col" class="td-head-custom">Targets</td>
                        <td scope="col" class="td-head-custom">Rec Yds</td>
                        <td scope="col" class="td-head-custom">Rec TDs</td>
                        <td scope="col" class="td-head-custom">Pass Yds</td>
                        <td scope="col" class="td-head-custom">Pass TD</td>
                        <td scope="col" class="td-head-custom">Int</td>
                        <td scope="col" class="td-head-custom">2-PT</td>
                        <td scope="col" class="td-head-custom">Fum Lost</td>
                    </tr>
                </thead>
                <tbody>
                    {% for rp in roster_positions %}
                    <tr class="trow-custom">
                        {% if rp != 'K' and rp !='DEF' %}
                        <td class="td-custom"></td>
                        <td class="td-custom">{{rp}}</td>
                        <td class="td-custom">Andrew Luck</td>
                        <td class="td-custom">215</td>
                        <td class="td-custom">39</td>
                        <td class="td-custom">2</td>
                        <td class="td-custom">0</td>
                        <td class="td-custom">0</td>
                        <td class="td-custom">0</td>
                        <td class="td-custom">0</td>
                        <td class="td-custom">2100</td>
                        <td class="td-custom">16</td>
                        <td class="td-custom">6</td>
                        <td class="td-custom">2</td>
                        <td class="td-custom">1</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--<div id="rosterTable">
        <table class="table table-hover table-borderless">
            <thead class="thead-primary">
                <tr>
                    <td class="td-custom">Position</td>
                    <td class="td-custom">Name</td>
                    <td class="td-custom">FGs</td>
                    <td class="td-custom">PATs</td>
                </tr>
            </thead>
            <tbody>
                {% for rp in roster_positions %}
                <tr>
                    {% if rp == 'K' %}
                    <td class="td-custom">{{rp}}</td>
                    <td class="td-custom">Stephen Gostkowski</td>
                    <td class="td-custom">32</td>
                    <td class="td-custom">54</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>-->
</div>

{% endblock %}